<actions
    data-ng-repeat="group in ::$ctrl.groups"
    data-css="::group.css"
    data-css-group="::group.cssGroup"
    data-actions="::group.actions"
    data-adding-css-action="::group.cssAction"
    data-entity-name="{{::$ctrl.queryListCtrl.entityName}}"
    data-without-icon="::group.withoutIcon"
    data-without-label="::group.withoutLabel"
    data-rows="$ctrl.queryListCtrl.selectedRows"
    data-link-name="::$ctrl.queryListCtrl.linkName"
    data-query-name="::$ctrl.queryListCtrl.searchQueryName"
    data-more-icon="::group.moreIcon"
    data-more-class="::group.moreClass"
    data-max-display="0">
</actions>